.todos{
    box-shadow: var(--main-box-shadow);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
   
    max-height: 640px;
  }
  
  .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    height: 60px;
    padding: 12px 16px;
    background-color: var(--secondary-background-color-light);
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 600;
  }
  
  .todoTitle{
    width: 130px;
  }
  .todoCount{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 24px;
    width: 32px;
    border-radius: 6px;
  
    color: var(--label-font-color);
    background-color: var(--secondary-background-color);
    box-shadow: var(--main-box-shadow-inset);
  }
  
  .todoIconWrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    align-items: center;
    width: 80px;
    
  }
  
  .todoActionButton{
    padding: unset;
    background-color: unset;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
  }
  
  .todoDivider{
    border-bottom: 1px solid var(--main-border-color);
  }